body {
    text-align: center;
    border-radius:5px;
    background-color: rgb(253, 252, 252);
}

section {
    background-color: cadetblue;
}

h1 {
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    margin-top: -20%;
    color: black ;
    font-size: 50px;
}

.hero-body {
    background-color: rgb(220, 218, 231);
}
<<<<<<< HEAD

.h1 {
    font-weight: bolder;
    color:cadetblue ;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    display: inline-block;
    background-color: rgb(187, 194, 194);
    text-align: center;
    width: 50%;
    margin: auto;
}
.textarea {
    
    border-radius: 10%;
}

input {
border: burlywood solid 1px;
}
#alert {
    height: fit-content;
    width: fit-content;
    color: crimson;
}
=======
>>>>>>> 1134904a42623c8f6bbf18459cb543924b9da065
