.image {
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    padding: 10px; 
}
.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s;
    background-color: rgba(0,0,0,0.5);
    color: azure;
   }

.overlay-image .text {
    margin: 0;
    color: white;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }


   /* New overlay appearance on hover */
   .overlay-image:hover .hover{
    opacity: 1;       
   }

   .overlay-image:hover .text{
    opacity: 1;
   }

   .overlay-image .normal {
    transition: .2s ease;
   }
   .overlay-image:hover .normal {
    opacity: 0;
   }
   
   span{
    display: none;
}
.btn-squared {
  display:block;
  text-decoration:none;
  border-radius:100%;
  background:#12809b;
  width:100px;
  height: 100px;
  color:#fff;
  text-align:center;
  font:bold 16px/100px Arial, sans-serif;
  text-transform:uppercase;
  transition: all 0.4s ease-in-out;
  box-shadow:inset 0 0 0 5px rgba(0,0,0,.5), inset 0 0 0 10px rgba(255,255,255,.3);
}
.btn-squared:hover{
  box-shadow:inset 0 0 0 10px rgba(255,255,255,.5), inset 0 0 0 100px rgba(0,0,0,.5);
}
.btn-squared:hover span{
  display: block;
}