body {
    text-align: center;
    border-radius:5px;
    background-color: rgb(221, 207, 207);
    margin: 20px;
}

/* section {
    /* background-color: cadetblue;
        margin: 10px;
    } */ */





.button:hover {
color: mediumaquamarine;
font-size: large;
font-weight: bolder;
}

.button {
    font-size: medium;
    margin: 3%;
}

.hero-body {
    background-color: rgb(180, 176, 199);
}

.title {
    color:black ;
    font-size: 80px;
    margin-top: -20%;
    font-family: 'Pacifico', cursive;
}

h2 {
    font-size: 50px;
    font-weight: 800;
}

