.image {
    opacity: 1;
    display: inline-block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .cont:hover .image {
    opacity: 0.5;
  }
  
  .cont:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color:blue;
    color: rgb(237, 11, 11);
    font-size: 16px;
    padding: 16px 32px;
  }